.imageContainer {
  margin: 25px;
  min-height: 660px;
  min-width: 900px;
  background-position: center;
  background-repeat: no-repeat;
}

#caption{
  font-size: 2em;
  font-family: 'Oswald';
  padding: 20px;
  color: #222;
  border: 10px solid #0D4656;
  width: 900px;
}

.caption-row {
  padding: 24px;
  text-align: center;
}
