#galleryText {
  margin-top: 20px;
  font-family: 'Lobster';
  font-size: 3vw;
  margin-bottom: 20px;
  color: #313332;
}

ul {
  padding: 0;
  width: 100%;
  margin: 20px auto;
}

li {
  display: inline;
}

.tn{
  width: 250px;
  height: 200px;
  margin: 20px;
  border: 5px solid white;
  box-shadow: #555 1px 1px 8px 1px;
}

button{
  margin: 5px;
}
